dash==3.2.0
plotly==6.3.1
pandas==2.3.3
numpy==2.0.2
scikit-learn==1.6.1
xgboost==2.1.4
gunicorn==23.0.0
dash-bootstrap-components==2.0.4
joblib==1.5.2
psycopg2-binary==2.9.11
sqlalchemy==2.0.44
python-dotenv==1.0.0